html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin: 0;
}
                  
hr {
	border: 0.1em solid black;
	width: 7%;
	margin: 0.5em auto;
}

p {
	margin: 0 0 1em 0;
}

.center {
	text-align: center;
}

.shadow {
	text-shadow: 0 0 8px black;
}

#navbar {
	top: 0;
	width: 100%;
	height: 4em;
	position: fixed;
	font-family: 'Gabriola';
	font-size: 22px;
	z-index: 10;
}

.nav-top {
	background: linear-gradient(to bottom, #ca20a1FF, #ca20a100);
	backdrop-filter: none;
}

.nav-scroll {
	background-color: #ca20a177;
	backdrop-filter: blur(8px);
}

#navbar-inner {
	height: 100%;
	padding: 0.5em 0;
	box-sizing: border-box;
}

#navbar-header {
	float: left;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	padding: 0 5%;
}

#navbar ul {
	margin: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	padding: 1em 10% 0 0;
	white-space: nowrap;
	vertical-align: middle;
}

#navbar li {
	float: left;
	display: table-cell;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: white;
	transition: color 0.25s;
	text-shadow: 0 0 3px black ;
}

a:hover {
	color: deepskyblue;
}

a:visited {
	color: white;
}

a:visited:hover {
	color: deepskyblue;
}

.logo {
	max-height: 100%;
	width: auto;
	float: left;
}

#main {
	top: 0;
	width: 100%;
	height: 100%;
}

#title-cover {
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("images/welcome.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: table;
}

#title-inner {
	display: table-cell;
	vertical-align: middle;
	font-size: 32px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	padding: 0 15%;
}

.title {
	font-size: 92px;
}

.subtitle {
	font-size: 36px;
}

#join {
	width: auto;
	height: auto;
	padding: 0.5em;
	border-radius: 20px;
	border: 1px solid white;
	color: white;
	font-size: 42px;
	outline: none;
	background: linear-gradient(to bottom, #ff97e7 0%,#e76bca 48%,#e954c6 52%,#ca20a1 100%);
	filter: drop-shadow(0 0 6px #BBBBBBBB);
	transition: filter 0.2s;
	cursor: pointer;
}

#join h6 {
	font-size: 18px;
	text-emphasis: none;
	text-decoration: none;
	font-weight: normal;
	margin:  0;
}

#join:hover {
	filter: brightness(1.2);	
}

#join:focus {
	border: 1px solid black;
	filter: drop-shadow(0 0 6px #000000FF);
}

#join:active {
	background: linear-gradient(to bottom, #ca20a1 0%, #e954c6 48%, #e76bca 52%, #ff97e7 100%);
}

@media only screen and (max-width: 800px) {
	#title-cover {
		height: 350px;
		top: unset;
	}

	#navbar {
		position: initial;
	}
}

#about {
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("images/about.jpg");
	background-size: cover;
	background-position: 74% 30%;
	background-repeat: no-repeat;
	display: table;
}

#about-inner {
	display: table-cell;
	vertical-align: middle;
	font-size: 26px;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: left;
	padding: 0 40% 0 5%;
}

#about-inner h1, h3 {
	font-weight: 600;
	text-align: center;
}

#convert {
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("images/convert.jpg");
	background-size: cover;
	background-position: 70% 42%;
	background-repeat: no-repeat;
	display: table;
}

#convert-inner {
	display: table-cell;
	vertical-align: middle;
	font-size: 26px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: left;
	padding: 0 55% 0 5%;
}

#foot {
	display: block;
	background-color: #1E1E1E;
	color: white;
	width: 100%;
	text-align: center;
}

section {
	padding: 2em 0;
}
